<h3>Welcome to your development centre!!</h3>
<br/>



<img src="assets/github.png"></img>

<img src="assets/AWS.png"></img>
<img src="assets/heroku.png"></img>
<img src="assets/windows-azure.png"/>

<img src="assets/OpenShift.png"></img>


<img src="assets/googleAppEngine.png"/>
<img src="assets/android.png"/>
<img src="assets/rails.png"></img>
<img src="assets/java.png"></img>
<img src="assets/php.png"></img>
<img src="assets/rubyonrails.png"></img>
<img src="assets/wordpress.png"></img>

